:root{
	--loader-width: 40px;
	--loader-height: 40px;
	--loader-color-primary: white;
	--loader-color-secondary: #eee;
	--line-width: 3px;
	--animation-duration: 2s;
	--loader-initial-scale: 0.1;
}
.loader,.loader:before,.loader:after{
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
}
/*
In order to get optimal results, please only change the 
variables above and don't change anything in the actual loader code
*/
	
	

.loader.awesome-spin {
    border-radius: 50%;
    color: var(--loader-color-primary, #33f);
    border-top: var(--line-width, 10px) solid;
    border-bottom: var(--line-width, 10px) solid;
    width: var(--loader-width, 100px);
    height: var(--loader-height, 100px);
    animation: awesome-spin var(--animation-duration, 2s)  linear infinite;
  }
  
  @keyframes awesome-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }